

.login-btn {
    border: 1px solid ghostwhite;
    background-color: ghostwhite;
    color: gray;
    margin: 10px;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
}

.btn-outline-success {
    border: 0px solid ghostwhite;
 }
.btn-outline-success:hover {
   border: 0px solid ghostwhite;
   background-color: ghostwhite;
}

.fa-magnifying-glass {
    color: gray;
   }

.fa-magnifying-glass:hover {
  color: red;
}

.user {
    display: flex;
    justify-content: center;
    align-items: center;
}


.footer-container{
    background-color: gray;
    padding: 3rem 0 3rem 0;
    display: flex;
    flex-direction: column;
}
.footer{
    width: 60%;
    height: auto;
    background-color: gray;
    color: #fff;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.footer-heading{
    display: flex;
    flex-direction: column;
    margin-right: 4rem;
}

.footer-heading h2{
    margin-bottom: 0.5rem;
}
.footer-heading a{
    color: #fff;
    margin-bottom: 0.5rem;
}


.footer-heading a:hover, .nav-link:hover,.login-btn:hover {
    color: orangered;

}

.footer-right{
    font-size: 15px;
    margin-top: 60px;
    /* line-height: 21px; */
    text-align: center;
    margin-right: 60px;
    color: #fff;
    font-weight: 300;
    font-size: 22px;
    line-height: 24px;
}

.footer-2 i:hover {
    transform: scale(2.1);
    transition: 0.2s ease-out;
}
.footer-1 a {
    text-decoration: none;
    font-size: 20px;
}

.footer-2 i {
    margin-top: 10px;
    font-size: 30px;
}

.footer-2{
   display: grid;
   grid-template-areas: 
   "aa aa aa aa"
   "ff tt ee pp";
   place-items: center;
   height: 10vh; 
}
.he2 {
    grid-area: aa;
}

.fa-facebook-square {
    grid-area: ff;
}

.fa-twitter{
    grid-area: tt;
}

.fa-envelope {
    grid-area: ee;
}

.fa-square-phone{
    grid-area: pp;
}

/* Nut back-top */
.button {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: rgb(20, 20, 20);
    border: none;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 0px 4px rgba(180, 160, 255, 0.253);
    cursor: pointer;
    transition-duration: 0.3s;
    overflow: hidden;
    position: fixed; 
    bottom: 20px; 
    right: 20px; 
    z-index: 999; 
  }
  
  .svgIcon {
    width: 12px;
    transition-duration: 0.3s;
  }
  
  .svgIcon path {
    fill: white;
  }
  
  .button:hover {
    width: 140px;
    border-radius: 50px;
    transition-duration: 0.3s;
    background-color: gray;
    align-items: center;
  }
  
  .button:hover .svgIcon {
    transition-duration: 0.3s;
    transform: translateY(-200%);
  }
  
  .button::before {
    position: absolute;
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    content: "Trở lại đầu trang";
    color: white;
    font-size: 0px;
    display: flex; 
    align-items: center; 
    justify-content: center; 
    width: 100%; 
    height: 100%; 
}
  
  .button:hover::before {
    font-size: 13px;
    opacity: 1;
    bottom: unset;
    transition-duration: 0.3s;
  }

